<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Reporte</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<main>
			<div class="container py-4">
				<header class="pb-3 mb-4 border-bottom">
					<h1>REPORTE DE CAPTURAS DE PANTALLA</h1>
				</header>

				<div class="alert alert-primary" role="alert">Información de extracción</div>
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Fecha y hora de inicio</div>
							<%= data.start %>
						</div>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Fecha y hora de termino</div>
							<%= data.end %>
						</div>
					</li>
				</ul>
				<br />

				<div class="alert alert-info" role="alert">Información de dispositivo</div>
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Marca</div>
							<%= data.manufacturer %>
						</div>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Modelo</div>
							<%= data.model %>
						</div>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Número de serie</div>
							<%= data.serialno %>
						</div>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">IMEI</div>
							<%= data.imei %>
						</div>
					</li>
				</ul>
				<br />

				<div class="alert alert-warning" role="alert">Información adicional</div>
				<ul class="list-group">
					<% for (let [key, value] of Object.entries(data.extras)) { %>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold"><%= key %></div>
								<%= value %>
							</div>
						</li>
					<% } %>
				</ul>

				<hr />
				<div class="alert alert-success" role="alert">Capturas de pantalla</div>

				<% data.sessions.forEach(function(session){ %>
				<div class="alert alert-secondary" role="alert">
					Secuencia de capturas de pantalla: <%= session.id %>
				</div>
				<div class="d-flex justify-content-between flex-wrap">
					<% for(let i = 1; i<session.count; i++){ %> 
					<% const filename = `IMG-${funcs.padLeft(i, 6)}.png` %>
					<div class="card mb-4">
						<img src="<%= `${session.id}/${filename}` %>" class="d-block" alt="captura" height="750" />
						<div class="card-body">
							<p class="card-text text-center"><%= filename %></p>
						</div>
					</div>
					<% }; %>
				</div>
				<% }); %>
			</div>
		</main>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
	</body>
</html>
